@import "script/WiwienExpert.less";


.wiwien-slider {
    width: 100%;
    min-width: 15em;

    input, datalist {
        width: 100%;
    }

    datalist {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: small;

    }

    option {
        padding: 0;
        max-width: 10%;
        white-space: break-spaces;
    }
}
