:host {
    display: block;

    --text-color: #333;
    --border-color: #ccc;


}

button {
    display: block;
    width: 100%;
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    text-align: left;
    font-size: 1em;
    cursor: pointer;
    padding: 0.5em;
    margin: 0.5em 0;
    opacity: 0.8;
}

button:hover,
button:active,
button:focus {
    opacity: 1;
}
